<!--
  Generated template for the LessonNaturalVolcanoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Volcano</ion-title>

    <ion-buttons end>
      <div *ngIf="font">
        <button ion-button icon-only item-right (click)="openModal()">
          A
        </button>
      </div>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only item-right (click)="SettingsPage()">
        <ion-icon name="cog" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let styleElement of styles">
    <ion-slides pager *ngIf="visual">
        <ion-slide *ngFor="let slide of volcanoSlides">
          <br>
          <img [src]="slide.image" class="slide-image" />
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngFor="let styleElement of styles">
      <div *ngIf="verbal">
      <div class="chapter">
        <button ion-item (click)="page1()">
      What is a volcano?
    </button>
        <ion-card *ngIf="hide1">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              &nbsp;A volcano is a mountain that opens downward to a pool of molten rock below the surface of the earth. When pressure builds
              up, eruptions occur. Gases and rock shoot up through the opening and spill over or fill the air with lava fragments.
              Eruptions can cause lateral blasts, lava flows, hot ash flows, mudslides, avalanches, falling ash and floods.
              Volcano eruptions have been known to knock down entire forests. An erupting volcano can trigger tsunamis, flash
              floods, earthquakes, mudflows and rockfalls.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page2()">
      How are volcanoes formed?
    </button>
        <ion-card *ngIf="hide2">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              &nbsp;Volcanoes are formed when magma from within the Earth's upper mantle works its way to the surface. At the surface, it erupts
              to form lava flows and ash deposits. Over time as the volcano continues to erupt, it will get bigger and bigger.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page3()">
      What are the different stages of volcanoes?
    </button>
        <ion-card *ngIf="hide3">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              &nbsp;Scientists have categorized volcanoes into three main categories: active, dormant, and extinct. An active volcano is one
              which has recently erupted and there is a possibility that it may erupt soon. A dormant volcano is one which
              has not erupted in a long time but there is a possibility it can erupt in the future. An extinct volcano is
              one which has erupted thousands of years ago and there’s no possibility of eruption.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page4()">
      Why do volcanoes erupt?
    </button>
        <ion-card *ngIf="hide4">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              &nbsp;The Earth's crust is made up of huge slabs called plates, which fit together like a jigsaw puzzle. These plates sometimes
              move. The friction causes earthquakes and volcanic eruptions near the edges of the plates. The theory that
              explains this process is called plate tectonics.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page5()">
      What are plate tectonics?
    </button>
        <ion-card *ngIf="hide5">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              &nbsp;The theory of plate tectonics is a interesting story of continents drifting from place to place breaking apart, colliding,
              and grinding against each other. The plate tectonic theory is supported by a wide range of evidence that considers
              the earth's crust and upper mantle to be composed of several large, thin, relatively rigid plates that move
              relative to one another. The plates are all moving in different directions and at different speeds. Sometimes
              the plates crash together, pull apart or sideswipe each other. When this happens, it commonly results in earthquakes.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page6()">
      Different types of volcanoes
    </button>
        <ion-card *ngIf="hide6">
          <ion-card-content style="text-align:justify;">
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              Cinder Cones - Cinder cones are circular or oval cones made up of small fragments of lava from a single vent that have been
              blown into the air, cooled and fallen around the vent.
              <br><br>&nbsp;Composite Volcanoes - Composite volcanoes are steep-sided volcanoes composed of many layers of volcanic
              rocks, usually made from high-viscosity lava, ash and rock debris. Mt. Rainier and Mount St. Helens are examples
              of this type of volcano.
              <br><br>&nbsp;Shield Volcanoes - Shield volcanoes are volcanoes shaped like a bowl or shield in the middle with long
              gentle slopes made by basaltic lava flows. Basalt lava flows from these volcanoes are called flood basalts.
              The volcanoes that formed the basalt of the Columbia Plateau were shield volcanoes.
              <br><br>&nbsp;Lava Volcanoes - Lava domes are formed when erupting lava is too thick to flow and makes a steep-sided
              mound as the lava piles up near the volcanic vent. The eruption of Mount St. Helens in 1980 was caused in part
              by a lava dome shifting to allow explosive gas and steam to escape from inside the mountain.
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-fab right bottom *ngFor="let styleElement of styles">
      <button ion-fab color="primary"><ion-icon name="more"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab color="secondary" (click)="universeQuiz()"><ion-icon name="paper"></ion-icon></button>

        <button ion-fab color="primary" (click)="trivia()" *ngIf="styleElement.first == 'Logical' || styleElement.second == 'Logical' || styleElement.third == 'Logical' || styleElement.first == 'Solitary' || styleElement.second == 'Solitary' || styleElement.third == 'Solitary'">
          <ion-icon name="bulb"></ion-icon>
        </button>

        <button ion-fab color="primary" (click)="playAudio()" *ngIf="styleElement.first == 'Auditory' || styleElement.second == 'Auditory' || styleElement.third == 'Auditory' || styleElement.first == 'Solitary' || styleElement.second == 'Solitary' || styleElement.third == 'Solitary'">
          <ion-icon name="volume-up"></ion-icon>
        </button>

        <button ion-fab color="primary" (click)="regularShare()" *ngIf="styleElement.first == 'Social' || styleElement.second == 'Social' || styleElement.third == 'Social'">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>

        <button ion-fab color="primary" (click)="playVideo()" *ngIf="styleElement.first == 'Physical' || styleElement.second == 'Physical' || styleElement.third == 'Physical' || styleElement.first == 'Solitary' || styleElement.second == 'Solitary' || styleElement.third == 'Solitary'">
          <ion-icon name="logo-youtube"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
