<ion-content padding>
  <ion-buttons end>
    <button ion-button item-right clear color="dark" (click)="exit()">X</button>
  </ion-buttons>

  <ion-slides #slides class="slide-color">
    <ion-slide class="start-slide">
      <button ion-button clear (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">
      <h3>Question {{i+1}}</h3>
      <flash-card [isFlipped]="question.flashCardFlipped">

        <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
        <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
      </flash-card>

      <h3>{{question.questionText}}</h3>

      <ion-list no-lines radio-group>

        <ion-item *ngFor="let answer of question.answers; let i = index;">

          <ion-label>{{i+1}}.) {{answer.answer}}</ion-label>
          <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

        </ion-item>

      </ion-list>
    </ion-slide>

    <ion-slide *ngFor="let incorrect of wrongAnswers;let i=index">
      <h5>Question: {{incorrect.questionA}}</h5>
      <h6><ion-icon name="close" color="danger"></ion-icon> You Answer: {{incorrect.answer}}</h6>
      <br>
      <ion-icon name="checkmark" color="secondary"></ion-icon><h6> Answer: {{incorrect.correctAnswer}}</h6>
      <button ion-button clear color="dark" (click)="error()"> <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-slide>

    <ion-slide>
      <h2>Final Score: {{score}} </h2>
      <h2>Percentage Score: {{userpercentage}}%</h2>
      <h2>Passing Percentage Score: {{percentage}}%</h2>
      <button (click)="restartQuiz()" ion-button block color="primary">Take Quiz Again</button>
      <button (click)="continue()" ion-button block color="primary" *ngIf="score > 7">Continue</button>


    </ion-slide>
  </ion-slides>
</ion-content>
