page-font-size {
    p{
        text-align: center;
    }

    .size1{
        font-size: 14px;
    }
    .size2{
        font-size: 16px;
    }
    .size3{
        font-size: 18px;
    }
    .size4{
        font-size: 20px;
    }
    .size5{
        font-size: 22px;
    }
}
