<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
     Progress
    </button>

    <ion-buttons end>
      <button ion-button icon-only item-right (click)="SettingsPage()">
        <ion-icon name="cog" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <h4 class="chartTitle"> Learning Style Overview </h4>
  <chart type="chart" style="display:block;" [options]="chartOptions"></chart>

  <h4 style="text-align:center">Quiz Scores</h4>
  <ion-row wrap>


    <ion-col col-4 *ngFor="let score of userScores;">
      <ion-card>
        <div style="text-align:center">
          <p color="secondary">{{score.Chapter_Quiz}}</p>
          <p color="danger">Score: &nbsp;{{score.Score}}</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col *ngIf="userScores == null" style="text-align:center">
        <ion-card>
            <div style="text-align:center">
      <h5>No Scores yet</h5>
      </div>
      </ion-card>
    </ion-col>



  </ion-row>

  <!-- REKT -->
  <div class="progress">
    <h4>
      <p ng-class="{width: barsize}" style="text-align: center;">Lesson Progress</p>
    </h4>
    <p>Overall Progress - {{tracker}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="tracker + '%'" style="text-align: center;">
      </span>
    </div>
    <br />
    <p>Universe Origin - {{l1prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l1prog + '%'" style="text-align: center;">
       </span>
    </div>
    <br />
    <p>Natural Hazards - {{l2prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l2prog + '%'" style="text-align: center;">
       </span>
    </div>
    <br />
    <p>Mitigation and Adaptation - {{l3prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l3prog + '%'" style="text-align: center;">
       </span>
    </div>
  </div>
  <!-- /REKT -->

</ion-content>