<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
     Progress
    </button>

    <ion-buttons end>
      <button ion-button icon-only item-right (click)="SettingsPage()">
        <ion-icon name="cog" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <h4 class="chartTitle"> Learning Style Overview </h4>
  <chart type="chart" style="display:block;" [options]="chartOptions"></chart>

  <ion-card>
    <ion-list>
      <div *ngFor="let score of userScores;">
        <ion-card-header>
          {{score.Chapter_Quiz}}
        </ion-card-header>
        <button ion-item *ngIf="score.Score != null">
        <ion-icon name="planet" item-start></ion-icon>
       {{score.Score}}
      </button>
        <button ion-item *ngIf="score === null || score === undefined || score.length === 0">
        <ion-icon name="planet" item-start></ion-icon>
        <p>No Score</p>
      </button>
      </div>
    </ion-list>

  </ion-card>

<!-- REKT -->
<div class="progress">
    <h2><p ng-class="{width: barsize}" style="text-align: center;">Your progress</p></h2>
    <p>Overall Progress - {{tracker}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="tracker + '%'" style="text-align: center;">
      </span>
    </div>
    <br />
    <p>Lesson 1 Progress - {{l1prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l1prog + '%'" style="text-align: center;">
       </span>
    </div>
    <br />
    <p>Lesson 2 Progress - {{l2prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l2prog + '%'" style="text-align: center;">
       </span>
    </div>
    <br />
    <p>Lesson 3 Progress - {{l3prog}}%</p>
    <div class="meter" style="width: 300px;">
      <span [style.width]="l3prog + '%'" style="text-align: center;">
       </span>
    </div>
</div>
<!-- /REKT -->

</ion-content>
