<ion-header>
  <ion-navbar color="primary">
    <ion-title>Natural Hazards</ion-title>

    <ion-buttons end>
      <button ion-button icon-only item-right (click)="SettingsPage()">
        <ion-icon name="cog" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-item no-lines (click)="earthquakesLesson();">
        <ion-icon name="unlock"></ion-icon>  Earthquake
    </button>
  </ion-item>

  <ion-item *ngFor="let x of lessonUnlocked">
    <button no-lines [disabled]="x.valid" ion-item (click)="volcanoLesson()">
        <ion-icon name="{{x.name}}"></ion-icon>  Volcanic Eruption
        </button>
  </ion-item>


  <ion-item *ngFor="let y of lessonUnlocked2">
    <button ion-item no-lines [disabled]="y.valid" (click)="landslidesLesson()">
        <ion-icon name="{{y.name}}"></ion-icon>  Landslide
        </button>
  </ion-item>

  <ion-item *ngFor="let z of lessonUnlocked3">
    <button ion-item no-lines [disabled]="z.valid" (click)="tsunamiLesson()">
        <ion-icon name="{{z.name}}"></ion-icon>  Tsunami
        </button>
  </ion-item>



</ion-content>
