<ion-header>
  <ion-navbar color="primary">
    <ion-title>Landslide</ion-title>

    <ion-buttons end>
      <div *ngIf="font">
        <button ion-button icon-only item-right (click)="openModal()">
          A
        </button>
      </div>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only item-right (click)="SettingsPage()">
        <ion-icon name="cog" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let styleElement of styles">
    <ion-slides pager *ngIf="visual">
      <ion-slide *ngFor="let slide of lslideSlides">
        <br>
        <img [src]="slide.image" class="slide-image" />
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngFor="let styleElement of styles">
    <div *ngIf="verbal">
      <div class="chapter">
        <button ion-item (click)="page1()">
      Landslides
    </button>
        <ion-card *ngIf="hide1">
          <ion-card-content>
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              Land surfaces are held together by multiple forces. The most important of these is friction. Some soil particles, like clay,
              cling to each other tightly, while others, like sand, are only loosely joined. All landscapes are held together
              by friction between the sediment cover and the underlying bedrock, some more tightly than others. If something
              is introduced to disrupt the friction on an incline, a landslide slips into action. Landslides occur when gravity
              overcomes the force of friction.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page2()">
      Several common causes of landslides are:
    </button>
        <ion-card *ngIf="hide2">
          <ion-card-content>
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              Water: Perhaps the most common trigger of a landslide, water reduces the friction between the bedrock and the overlying sediment,
              and gravity sends the debris sliding downhill. In sand and clay soils, a small amount of water may increase
              stability. You've likely seen this when building a sandcastle or working with clay. However, too much water
              causes the sediment to flow, which is why many landslides occur after rainstorms.
              <br> Earthquakes: If the Earth's crust vibrates enough to disrupt the force of friction holding sediments in
              place on an incline, a landslide can strike.
              <br> Wildfires: Plants help to stabilize the soil by holding it together like glue with their roots. When this
              glue is removed, the soil loosens, and gravity acts upon it much more easily. The loss of vegetation after
              a fire makes the razed land susceptible to slides.
              <br> Volcanoes: Several characteristics of volcanoes make them a fertile starting point for especially destructive
              landslides. On the next page, you'll learn just how powerful these volcanic landslides can be.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page3()">
      People and Landslides
    </button>
        <ion-card *ngIf="hide3">
          <ion-card-content>
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              Humans make landslides more likely through activities like deforestation, overgrazing, mining and road-building. Remember
              when we explained that vegetation acts like glue, holding the soil in place? These activities rob that glue
              from the land, increasing the probability for a landslide. For example, landslides are much more likely to
              occur in mountainous areas that have been clear-cut for roads. You've probably seen signs warning of rock falls
              if you've ever driven through the mountains. The drop-offs with loosened soil you see on both sides of the
              road require much less water to set off a landslide than natural drop-offs.
              <br> Although landslides cannot be avoided entirely, people can do several things to discourage them. Drainage
              pipes installed into slopes can carry away excess water, and impermeable membranes like plastic sheeting can
              prevent water from building up and dislodging the soil. In addition, setting up retaining walls at intervals
              will catch loose debris and keep it in place, while removing excess mass from the top of a slope could prevent
              the bottom from giving way. Reforestation is a good deterrent to landslides as well. When an area is clear-cut
              for harvesting timber, road-building or mining operations, restoring it to its natural condition stabilizes
              the land.
              <br> Perhaps the most important thing people can do to avoid the dangers of landslides is to avoid building
              in hazardous zones. Ideally, buildings shouldn't be placed on steep slopes or in drainage areas. But if people
              do build in areas like these that are susceptible to landslides, they should use protective measures. For instance,
              construction sites should use barriers to mitigate runoff and erosion.
              <br> If you find yourself in an area where landslides are likely, be ready with an emergency evacuation plan
              if there is any danger. Be aware of any sudden rises or falls in water flow and listen for sounds that may
              signal moving debris or falling rocks. If you suspect landslide activity, you should evacuate immediately if
              it is safe to do so. Remember to be especially vigilant when driving, as roadside embankments are also hazardous.
            </p>
          </ion-card-content>
        </ion-card>
        <button ion-item (click)="page4()">
      Submarine Landslides
    </button>
        <ion-card *ngIf="hide4">
          <ion-card-content>
            <p class="fontSize" [ngClass]="{size1: fontSize===1, size2: fontSize===2, size3: fontSize===3, size4: fontSize===4, size5: fontSize===5}">
              Did you know that landslides can even occur underwater? Such underwater landslides are known as submarine landslides and
              can trigger monster tidal waves that wreck coastal regions. Scientists suspect that earthquakes precede many
              underwater landslides, which then produce the colossal waves known as tsunamis. An earthquake is suspected
              of causing a submarine landslide in 1998 which triggered a tsunami that obliterated villages and killed thousands
              of people in Papua, New Guinea [source: USGS FAQ].
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-fab right bottom *ngFor="let styleElement of styles">
    <button ion-fab color="primary"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="universeQuiz()"><ion-icon name="paper"></ion-icon></button>

      <button ion-fab color="primary" (click)="trivia()" *ngIf="styleElement.first == 'Logical' || styleElement.second == 'Logical' || styleElement.third == 'Logical'">
        <ion-icon name="bulb"></ion-icon>
      </button>
      
      <button ion-fab color="primary" (click)="playAudio()" *ngIf="styleElement.first == 'Auditory' || styleElement.second == 'Auditory' || styleElement.third == 'Auditory'">
        <ion-icon name="volume-up"></ion-icon>
      </button>

      <button ion-fab color="primary" (click)="regularShare()" *ngIf="styleElement.first == 'Social' || styleElement.second == 'Social' || styleElement.third == 'Social'"><ion-icon name="logo-facebook"></ion-icon></button>

      <button ion-fab color="primary" (click)="playVideo()" *ngIf="styleElement.first == 'Physical' || styleElement.second == 'Physical' || styleElement.third == 'Physical' || styleElement.first == 'Visual' || styleElement.second == 'Visual' || styleElement.third == 'Visual'">
          <ion-icon name="logo-youtube"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
