.day-theme {
    ion-content {
        background-color: #ffffff;
    }

    /* For font size */
    .size1{
        font-size: 14px;
    }
    .size2{
        font-size: 16px;
    }
    .size3{
        font-size: 18px;
    }
    .size4{
        font-size: 20px;
    }
    .size5{
        font-size: 22px;
    }

    /* quiz */
    .resultimg {
        width: 100%;
        height: 45%;
        position: relative;
    }
    .textResult {
        font-family: 'Titillium Web';
    }
    .flash-card-front {
        img {
            width: 80%;
            height: auto;
        }
    }
    .slide-zoom { //whole card content
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }
    .start-slide { //Start!
        button {
            font-size: 1.3em;
            font-weight: bold;
            color: black;
        }
        margin-top: 60%;
    }
    .content { //whole card
        background-color: #FFFFFF;
    }
    .item-cover { //choices
        border-bottom: 2px #495F77 solid;
    }
    ion-slides {
        width: 100%;
        height: 103%;
        display: block;
    }
    .icon-md-danger {
        color: #f53d3d;
        margin-right: 1%;
    }
    .correction {
        margin-top: 20%;
    }

    /* progress */
    .chartTitle {
        color: #333333;
        text-align: center;
    }

    /* slides */
    .swiper-container {
        overflow-y: scroll;
    }
}