
<ion-menu [content]="content">
    <ion-content>
      <ion-item style="background-color:#00aced" *ngFor = "let styleElement of styles">
         <div *ngIf = "styleElement && styleElement.user && styleElement.title" >
          <h1>{{styleElement.user}}</h1>
          <h4>{{styleElement.title}}</h4>
          </div>

      </ion-item>
      <ion-list>

        <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
         <ion-icon name="{{p.icon}}"></ion-icon>&nbsp;{{p.title}}
        </button>

        <button ion-item (click)="doConfirm()">
         <ion-icon name="log-out"></ion-icon>&nbsp;Logout
        </button>

      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



