page-trivia-universe {
    p {
        text-align: justify;
        font-size: 16px;
        overflow-y: auto;
    }

    .triviaimg {
        width: 100%;
        height: 45%;
        position: relative;
    }
}
