page-reference {
    h2 {
        text-align: center;
    }

    img {
        margin-top: -10%; 
        margin-left: auto;
        margin-right: auto;
        width: 90%; 
        height: 100%;
    }

    .about {
        margin-top: -20%;
    }

    ion-card-header {
        text-align: center;
        margin-top: -7%;
    }
}
